<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Страница администратора</title>
    <script>
        function loadAllUsers() {
            fetch('api/user/')
                .then(response => response.json())
                .then(users => {
                    let tableBody = usersTable.getElementsByTagName('tbody')[0];
                    let rows = '';
                    users.forEach((user, idx) => {
                        rows += '<tr>' + '<td>' + user.id + '</td>'
                         + '<td>' + user.name + '</td>'
                          + '<td>' + user.login + '</td>'
                          + '<td>' + user.password + '</td>' + '</tr>';
                    });
                    tableBody.innerHTML = rows;
                });
        }

        function createNewUser(form) {
            fetch('api/user/', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'
                  },
                  body: new URLSearchParams(new FormData(form))
                }).then(res => {
                    if (res.status >= 500) {
                        alert('Ошибка при создании пользователя');
                        console.log(res);
                    } else {
                        loadAllUsers();
                    }
                })
                  .catch(res => {
                    alert('Ошибка');
                    console.log(res)
                  });
        }
    </script>
</head>

<body>
<a href="/logout">Выйти</a>
<br/>
<h1>Создание нового пользователя:</h1>
<form onsubmit="createNewUser(this); return false;" action="#" autocomplete="off">
    <label>
        Name <br/>
        <input type="text" name="name">
    </label>
    <br/>
    <label>
        Login <br/>
        <input type="text" name="login">
    </label>
    <br/>
    <label>
        Password <br/>
        <input type="password" name="password">
    </label>
    <br/>
    <label>
        Admin <br/>
        <input type="checkbox" name="isAdmin">
    </label>
    <br/>
    <br/>
    <input type="submit" value="Создать">
</form>

<h1>Список всех пользователей:</h1>
<button onclick="loadAllUsers()" style="margin: 0 0 10px 0;">Загрузить список пользователей</button>
<table id="usersTable" style="width: 400px; border: solid 1px;">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Логин</td>
        <td style="width: 100px">Пароль</td>
    </tr>
    </thead>
    <tbody>
    <!-- content will be changed on button click -->
    </tbody>
</table>
</body>
</html>